.cart-section {
    padding: 0;
    margin: 0;
}

.cart-img {
    padding: 0;
    margin: 0;
}

.cart-img img {
    display: block;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    opacity: 0.8;
}

.table tr td img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
}

.subtotal-container h5 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

.subtotal-container p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 15px;
}

.checkout-btn {
    border: none;
    outline: none;
    padding: 8px 113px;
    border-radius: 5px;
    background: #244855;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

td i {
    cursor: pointer;
}

td,
th {
    color: black;

}