.hero-section {
    background: #874F41;
}

.hero-content {
    padding-top: 60px;
}

.hero-content h2 {
    color: #FBE9D0;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0;
}

.hero-content p {
    color: #c6b8a3;
    line-height: 28px;
}

.hero-content p:nth-child(1) {
    font-weight: 500;
}

.shop-btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: #244855;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.hero-img img {
    height: auto;
    display: block;
    width: 45vw;
    max-width: none;
    max-height: 100vh;
}

.title {
    color: #874F41;
    font-weight: 600;
}

.brand-container {
    width: 100%;
    height: 30vh;
    background-color: #244855;
    background-image: url('../assets/images/center.jpg');
    background-position: center;
    background-size: contain;
}

.border-design {
    position: relative;
    left: 1.5%;
    bottom: 4%;
    border: 5px solid black;
    width: 97%;
    height: 90%;
}