@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.announcements {
    width: 100%;
    height: 5.5vh;
    background-color: #244855;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcements h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    font-weight: 700;
    margin: 0;
}

.announcements span {
    text-decoration: underline;
    padding-left: 1rem;
    font-weight: 300;
}

.header {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    color: #244855;
}

.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.cart-icon {
    position: relative;
}

.badge {
    position: absolute;
    top: 50%;
    right: 0%;
    content: '';
    background: #244855;
    color: white;
    border-radius: 50%;
    font-size: 0.5rem;
    font-weight: 700;
    z-index: 10;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin: 0;
    padding: 0;
    /* margin-bottom: 1rem; */
}

.menu ul {
    display: flex;
    justify-content: center;
    column-gap: 2.7rem;
}

.nav-item a {
    text-transform: uppercase;
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 0.5rem;
}

.nav-item a:hover {
    border-bottom: 2px solid #244855;
    padding-bottom: 2px;
    transition: 0.3s;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
}

section {
    padding: 60px 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

i {
    font-size: 1.7rem;
}