@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer-container {
    background: #874841;
    padding-top: 60px;
    padding-bottom: 30px;
}

h3 {
    color: #FBE9D0;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-bottom: 20px;
}

.footer-link ul li,
.subletter input {
    background: transparent !important
}

.footer-link ul li a,
.subletter p {
    color: #FBE9D0;
    font-size: 0.9rem;
    font-weight: 200;
}

.signup-email {
    border: none;
    border-bottom: 2px solid #FBE9D0;
    padding-right: 80px;
    caret-color: #FBE9D0;
}

.signup-email,
select {
    color: #FBE9D0;
    font-weight: 300;
    font-size: 0.9rem;
}

.signup-email::placeholder {
    color: #FBE9D0;
    font-size: 0.9rem;
    font-weight: 200;
    padding-bottom: 20px;
}

.signup-email:focus {
    outline: none;
}

.email-icon i {
    font-size: 1.5rem;
    position: relative;
    top: 6px;
    right: 25px;
    color: #FBE9D0;
}

.subletter-icons {
    display: flex;
    color: #FBE9D0;
    margin-top: 10px;
    gap: 2rem;
}

.footer-copyright {
    color: #FBE9D0;
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}